@model IEnumerable<Package>;

@{
    ViewData["Title"] = "Report";
}

<form asp-controller="Report" asp-action="GenerateReport" method="post">
    <input type="text" name="nugetPackageJsonFileName" />
    <input type="submit" value="Generate Report" />
</form>